body.responsive{padding: 5%;margin: auto;color: white; max-width:100%;height: auto;min-width: 1000px;
 }
 p{margin: auto;padding: 2%;color: black;font-size: 16px;font-style: italic; font-family: Zapf-Chancery,cursive;}
 header{color: green;font-size: 100px;}
 h3{margin: auto;padding: 1%;color: red;}
 div.img-wrap{float:right;width: 40%;}
 img.responsive{max-width: 100%;height: auto;}
 h1{margin: auto;padding: 1%;color: blue;}
 button{background: purple;float: left;}
 div{padding: 15%;border: solid;border-color: black;border-width: 1px;width: 50%;height: auto;}
 select{min-width: 75px;width: 100px;height: auto;float: left;}
 footer{background-color: white;}
 #b1{color: blue;font-size: 20px;}
 #b2{color: green;}
 
 #b{padding: 15%;width: 50%;height: auto;}
#rd{max-width: 100%;width: 400px;height: auto; float: left;}
#ln{max-width: 100%;width: 1000px;height: auto;}
 
 